*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar .nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-loc{
    height: 50px;
    padding: 5px 8px 0px 6px;
}
.loc-one{
    font-size: 0.85rem;
    color: #cccccc;
}
.loc-two{
    font-size: 1rem;
    color: white;
}
.loc-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    height: 44px;
    width: 700px;
    background-color: white;
    display: flex;
    border-radius: 4px;
} 
.nav-search .all{
    font-size: 0.8rem;
    height: 100%;
    width: 60px;
    color: black;
    background-color: #f3f3f3;
    display: flex; 
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.nav-search .all:hover{
    background-color: rgba(233, 218, 218, 0.644);
}
.nav-search .searchbox{
    height: 44px;
    width: 600px;
    background-color: white;
    font-size: 1rem;
    color: #0f1111;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 3px;
}
.nav-search .search-icon{
    height: 100%;
    width:50px;
    border-radius: 0px 4px 4px 0px;
    background-color:orange;
    display: flex;
    align-items: center;
}
.nav-search i{
    padding-left: 12px;
    font-size: 1.5em;
    color: black;
    font-weight: bolder;
}
.nav-search .search-icon:hover{
    background-color: darkorange;
}

.navbar .nav-account{
    height: 40px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px 4px 4px 4px;
}
.nav-account .acclist{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-account .hello{
    font-size: 0.85rem;
}
.acclist {
    font-size: 1rem;
    font-weight: 600;
}

.nav-returns{
    height: 40px;
    width: 70px;
    padding: 4px ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}
.nav-returns .ret{
    font-size: 0.85rem;
    padding-right: 0px;

}
.nav-returns .order{
    font-size: 1rem;
    font-weight: 600;
}

.navbar .nav-cart{
    height: 44px;
    width: 70px;
    padding: 4px;
    display: flex;
    align-items: center;
}
.nav-cart i{
    font-size: 1.5rem;
    padding-right: 4px;
}
.panel{
    height: 40px;
    background-color: #232f3e;
    color: white;
    display: flex;
    align-items: center;
}

.panel .all{
    width: 60px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    margin: 4px;
    display: flex;
    align-items: center;
}
.panel .ops{
    width: 1010px;
    font-size: 0.92rem;
    font-weight: 200;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.ops p{
    height: 40px;
    margin: 8px;
    display: flex;
    align-items: center;
    
    
}
.panel .mesg{
    height: 40px;
    display: flex;
    align-items: center;

}

.back {
    height: 400px ;
    /* width: 1500px; */
    background-image: url("beautyamaz.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
 .back .info{
    height: 30px;
    width: 80%;
    font-size:0.85rem;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    
}
.info a{
    text-decoration: none;
}

 .products {
    height: 900px;
    background-color: #e2e7e6;
    display: flex ;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.products .box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 8px;
}
.products .prod1 h3,p{
    margin-left: 1rem;
    
}
.products .prod1 .box1img{
    height: 300px;
    background-image: url("box1_image.jpg");
    background-size:cover;
    margin:1rem;
}
/* box2 */
.products .prod2 h3,p{
    margin-left: 1rem;
    
}
.products .prod2 .box2img{
    height: 300px;
    background-image: url("box2_image.jpg");
    background-size:cover;
    margin:1rem;
}

/* box3 */
.products .prod3 h3,p{
    margin-left: 1rem;
    
}
.products .prod3 .box3img{
    height: 300px;
    background-image: url("box3_image.jpg");
    background-size:cover;
    margin:1rem;
}
/* box4 */
.products .prod4 h3,p{
    margin-left: 1rem;
    
}
.products .prod4 .box4img{
    height: 300px;
    background-image: url("box4_image.jpg");
    background-size:cover;
    margin:1rem;
}
/* box5 */
.products .prod5 h3,p{
    margin-left: 1rem;
    
}
.products .prod5 .box5img{
    height: 300px;
    background-image: url("box5_image.jpg");
    background-size:cover;
    margin:1rem;
}
/* box6 */
.products .prod6 h3,p{
    margin-left: 1rem;
    
}
.products .prod6 .box6img{
    height: 300px;
    background-image: url("box6_image.jpg");
    background-size:cover;
    margin:1rem;
}
/* box 7 */
.products .prod7 h3,p{
    margin-left: 1rem;
    
}
.products .prod7 .box7img{
    height: 300px;
    background-image: url("box7_image.jpg");
    background-size:cover;
    margin:1rem;
}
 /*box 8  */
 .products .prod8 h3,p{
    margin-left: 1rem;
    
}
.products .prod8 .box8img{
    height: 300px;
    background-image: url("tv.jpg");
    background-size:cover;
    margin:1rem;
}
.linktotop{
    height: 40px;
    background-color: #37475a;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.linktotop a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.about{
    height: 500px;
    background-color: #232f3e;
    font-size: 0.85rem;
    line-height: 2;
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.linktotop:hover{
    background-color:#262c33;
}
.about{
    background-color: #222f3d;
}
.about .gettoknow{
    width: 140px;
    height: 318px;
    color: white;
}
.about .makemoney{
    height: 218px;
    width: 185px;
    color:white;
}
.about .payment{
    height: 318px;
    width: 222px;
    color:white;
}
.about .help{
    height: 318px;
    width: 157px;
    color:white;
}
 .line:hover{
    text-decoration:underline;
}
.footpanel1{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height:70px;
    display: flex;
    justify-content: center;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.footpanel2{
    background-color: #131a22;
    height: 50px;
    padding-top: 25px;
    font-size: small;
    color: white;
   text-align:  center;
}
